@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  background: hsl(236deg, 33%, 92%);
}

input {
  cursor: pointer;
}

input[type=text] {
  background: inherit;
  border: none;
  outline: none;
}
input[type=text]:focus {
  outline: none;
}

.container {
  width: 90%;
  margin: auto;
}

.todo__top-container {
  min-height: 25vh;
  padding: 20px 0 120px 0;
  background: url(../images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.todo__top-container .container {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: hsl(0deg, 0%, 98%);
}
.todo__svg {
  cursor: pointer;
}

.todo__main-container {
  transform: translateY(-25%);
}
.todo__main-container .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px auto 65px;
  gap: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.todo__input-container, .todo__item, .todo__items-summary, .todo__filters-contaner {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: hsl(0deg, 0%, 98%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.todo__item, .todo__items-summary {
  height: 65px;
  border-bottom: 0.5px solid hsl(234deg, 11%, 52%);
}
.todo__item:nth-of-type(1), .todo__items-summary:nth-of-type(1) {
  border-radius: 0.5rem 0.5rem 0 0;
}
.todo__items-summary {
  border-radius: 0 0 0.5rem 0.5rem;
  border-bottom: none;
  justify-content: space-between;
  color: hsl(236deg, 9%, 61%);
}
.todo__items-summary div {
  display: flex;
}
.todo__items-action--completed {
  margin-left: 0.5rem;
}
.todo__input-container {
  border-radius: 0 0 0.5rem 0.5rem;
}
.todo__input--text, .todo__item--text {
  margin-left: 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(236deg, 9%, 61%);
  font-size: 1rem;
  width: 100%;
}
.todo__input--checkbox, .todo__item--checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.todo__input--label, .todo__item--label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid hsl(234deg, 39%, 85%);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.6rem;
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}
.todo__input--label svg, .todo__item--label svg {
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  transform: translateY(-100%) translateX(-50%);
  scale: 0;
}
.todo__input--label:has(.todo__item--checkbox:checked), .todo__item--label:has(.todo__item--checkbox:checked) {
  background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  opacity: 1;
}
.todo__input--label:has(.todo__item--checkbox:checked) svg, .todo__item--label:has(.todo__item--checkbox:checked) svg {
  visibility: visible;
  transform: translateY(0) translateX(0);
  scale: 1;
}
.todo__input--label:has(.todo__input--checkbox:checked), .todo__item--label:has(.todo__input--checkbox:checked) {
  background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  opacity: 1;
}
.todo__input--label:has(.todo__input--checkbox:checked) svg, .todo__item--label:has(.todo__input--checkbox:checked) svg {
  visibility: visible;
  transform: translateY(0) translateX(0);
  scale: 1;
}
.todo__item--text {
  color: hsl(235deg, 19%, 35%);
}
.todo__item-svg {
  cursor: pointer;
}
.todo__item-svg path {
  fill: hsl(236deg, 9%, 61%);
}
.todo__filters-contaner {
  height: 65px;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}
.todo__filters-contaner p {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(236deg, 9%, 61%);
}

.todo__botom-container {
  transform: translateY(-25px);
  text-align: center;
  color: hsl(236deg, 9%, 61%);
}/*# sourceMappingURL=main.css.map */