.todo {
  &__main-container {
    transform: translateY(-75px);
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: $default-height auto $default-height;
      gap: 1rem;
      border-radius: $default-border-radius;
      overflow: hidden;
    }
  }
  &__input-container,
  &__item,
  &__items-summary,
  &__filters-container {
    padding: 1rem;
    display: flex;
    transition: background 0.2s ease-in-out;
    justify-content: flex-start;
    align-items: center;
    background: $very-light-gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    &--label:has(input[type="checkbox"]:checked) + input[type="text"] {
      text-decoration: line-through;
      color: $dark-grayish-blue-light;
    }
    &:nth-of-type(1) {
      border-radius: $default-border-radius $default-border-radius 0 0;
    }
  }

  &__item,
  &__items-summary {
    height: $default-height;
    border-bottom: 0.1px solid $dark-grayish-blue-light;
  }

  &__items-summary {
    border-radius: $default-border-radius;
    border-bottom: none;
    justify-content: space-between;
    color: $dark-grayish-blue-light;

    div {
      display: flex;
    }
  }
  &__items-todos:has(.todo__item) + .todo__items-summary {
    border-radius: 0 0 $default-border-radius $default-border-radius;
  }

  &__items-action--clear-completed {
    margin-left: 0.5rem;
    transition: color ease-in-out 0.2s;
    cursor: pointer;
    &:hover {
      color: $very-dark-grayish-blue-light;
    }
  }

  &__input-container {
    border-radius: 0 0 $default-border-radius $default-border-radius;
  }

  &__items-container {
    .todo__filters-container {
      display: none;
    }
  }

  &__input,
  &__item {
    &--text {
      margin-left: 1rem;
      margin-right: 1rem;
      font-family: "Josefin Sans", sans-serif;
      color: $very-dark-grayish-blue-light;
      font-size: 1rem;
      width: 100%;
    }

    &--checkbox {
      appearance: none;
    }

    &--label {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.5px solid $light-grayish-blue-dark;
      border: none;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.6rem;
      cursor: pointer;
      overflow: hidden;
      background: transparent;
      opacity: 1;

      &:hover {
        div {
          background: $check-background;
        }
      }

      div {
        position: absolute;
        transition: background 0.2s ease-in-out;
        border-radius: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $light-grayish-blue-dark;
        z-index: 1;
        pointer-events: none;
      }

      div::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        background: $very-light-gray;
        z-index: 1;
        pointer-events: none;
      }

      svg {
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        scale: 2;
      }

      &:has(.todo__item--checkbox:checked) {
        background: $check-background;
        opacity: 1;
        div {
          visibility: hidden;
          &::after {
            visibility: hidden;
          }
        }
        svg {
          visibility: visible;
          transform: translateY(0) translateX(0);
          scale: 1;
        }
      }

      &:has(.todo__input--checkbox:checked) {
        background: $check-background;
        opacity: 1;
        div {
          visibility: hidden;
          &::after {
            visibility: hidden;
          }
        }
        svg {
          visibility: visible;
          transform: translateY(0) translateX(0);
          scale: 1;
        }
      }
    }
  }

  &__item {
    &--text {
      color: $very-dark-grayish-blue-light;
    }
  }

  &__item-svg {
    cursor: pointer;
    path {
      fill: $dark-grayish-blue-light;
    }
  }

  &__filters-container {
    height: $default-height;
    display: flex;
    justify-content: center;
    border-radius: $default-border-radius;

    p {
      margin: 0.5rem;
      font-size: 1rem;
      font-weight: $bold-font-weight;
      color: $dark-grayish-blue-light;
    }
  }
  &__filter {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $very-dark-grayish-blue-light;
    }
  }
}

// night mode

body.night-mode {
  background: $very-dark-blue;
  .todo {
    &__input-container,
    &__item,
    &__items-summary,
    &__filters-container {
      background: $very-dark-desaturated-blue;
    }

    &__item {
      &--label:has(input[type="checkbox"]:checked) + input[type="text"] {
        color: $very-dark-grayish-blue-dark;
      }
    }
    &__item,
    &__items-summary {
      height: $default-height;
      border-bottom: 0.1px solid $very-dark-grayish-blue-dark;
    }

    &__items-summary {
      color: $very-dark-grayish-blue-dark;
    }

    &__items-action--clear-completed {
      &:hover {
        color: $light-grayish-blue-dark-hover;
      }
    }

    &__input,
    &__item {
      &--text {
        color: $light-grayish-blue-dark;
      }

      &--label {
        &:hover {
          div {
            background: $check-background;
          }
        }

        div {
          background: $very-dark-grayish-blue-dark;
          z-index: 1;
          pointer-events: none;
        }

        div::after {
          background: $very-dark-desaturated-blue;
        }
      }
    }

    &__filters-container {
      p {
        color: $very-dark-grayish-blue-dark;
        &:hover {
          color: $light-grayish-blue-dark-hover;
        }
      }
    }
  }
}

// responsive

@include mobile-size {
  .container {
    max-width: 600px;
  }
}

@include desktop-size {
  .todo {
    &__items-container {
      .todo__filters-container {
        display: flex;
        height: $default-small-height;
      }
    }
    &__filters-container {
      display: none;
    }
    &__main-container {
      .container {
        grid-template-rows: $default-height auto;
      }
    }
    &__items-summary {
      height: $default-small-height;
    }
  }
}
