.todo {
  &__top-container {
    min-height: 25vh;
    transition: background 0.2s ease-in-out;
    padding: 20px 0 120px 0;
    background: url(../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      padding-top: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $very-light-gray;
    }
  }
  &__svg {
    cursor: pointer;
  }
}

body.night-mode {
  .todo {
    &__top-container {
      background: url(../images/bg-mobile-dark.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@include desktop-size {
  .todo {
    &__top-container {
      background: url(../images/bg-desktop-light.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  body.night-mode {
    .todo {
      &__top-container {
        background: url(../images/bg-desktop-dark.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
